<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <strong>Juncta Juvant</strong><br>
      A Queen City Compendium
    </div>

    <div class="footer-right">
      © {{ year }} · Juncta Juvant<br>
      A <a href="https://thingish.com">Thingish</a> Thing.<br>
      <a href="/about/">About</a>
    </div>
  </div>
</footer>
