<footer>
<div class="rule" style="margin-top:1.25rem"></div>
<div>© {{year}} The Juncta Juvant</div>
<div>This site is currently for non-commercial, demonstration purposes only.</div>
<div>Powered by <a href="https://goettalife.com">Goetta</a>.</div>
</footer>