<header class="masthead">
<div class="flag-col">
<a href="http://junctajuvant.com"><img alt="Flag of Cincinnati" src="/assets/img/flag.png"/></a>
</div>
<div class="title-col">
<div class="nameplate">{{siteName}}<br/></div>
<div class="tagline">A Queen City Compendium<br/></div>
<div class="dateline" id="dateline">Cincinnati, Ohio — </div>
</div>
<div class="poem-col">
<div class="poem">
          And this Song of the Vine,<br/>
          This greeting of mine,<br/>
          The winds and the birds shall deliver<br/>
          To the Queen of the West,<br/>
          In her garlands dressed,<br/>
          On the banks of the Beautiful River
        </div>
</div>
</header>